* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* ////////////////// Layout ////////////////// */
/* 
body {
  background-color: hsl(217, 54%, 11%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.container {
  width: 100%;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 25%;
  background-color: hsl(216, 50%, 16%);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0rem 2rem 5rem 4rem rgba(0, 0, 0, 0.217);

  font-family: "Outfit", sans-serif;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid hsl(215, 32%, 27%);
}

/* ////////////////// card content ////////////////// */

/* border radius only applying at the top of image */

.card-img {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 2rem;
}

/* unsure how to create image overlay */

.card-image:hover {
  cursor: pointer;
  background-color: hsl(178, 100%, 50%);
}

.card-header {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.card-header:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
  transition: 0.5s;
}

.card-text {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
  color: hsl(215, 51%, 70%);
}

.price {
  color: hsl(178, 100%, 50%);
  font-size: 1.5rem;
  font-weight: 400;
}

.price-block {
  display: flex;
  gap: 0.4rem;
}

.time-left {
  font-size: 1.5rem;
  color: hsl(215, 51%, 70%);
}

.time-left-block {
  display: flex;
  gap: 0.4rem;
}

.card-footer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.creator-img {
  width: 15%;
  height: auto;
  border-radius: 100%;
  border: 1px solid #fff;
}

.creator-text {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

a {
  color: #fff;
}

a:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
  transition: 0.5s;
}
